.navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.navbar .container-fluid img{
    Width: 137.14px;
    height: 37px;
}
.navbar .navbar-nav {
    margin-left: auto;
}
.navbar .links li{
    padding: 0px 20px;
}
.first-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28) ), url(main-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}
.first-page h1{
    font-size: 55px;
}
.first-page .btn{
    background-color: #6b69ce;
    border: #6b69ce;
    font-size: 20px;
    padding: 10px 20px;
}
footer .row .col-3{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 18.75px;

}
footer .row .col-3 .elements p{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
}
footer .row .col-3 .icons i{
    width: 24px;
    height: 24px;
    color: #ffffff;
    opacity: 63%;
}
footer .col-3 .icons{
    gap: 18px;
}
.rights{
    color: #676767;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.42px;
}
.coming-soon p,
.most-popular p{
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
}
.movie-item {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.movie-item .overlay{
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-family: "Roboto";
}
.movie-item .overlay .movie-title{
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
}
.movie-item .overlay .date{
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
}
.movie-item .overlay .age{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.movie-item .overlay p{
    margin-bottom: 0.4rem;
}
.image-body{
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.coming-soon .row{
    margin-bottom: 120px;
} 
.slide-sec{
    position: relative;
}
.slider .row{
    transition: transform 0.5s;
    flex-wrap: nowrap;
}
.most-popular .slide-image{
    height: 300px;
} 
.most-popular .slide-image img{
    border-radius: 8px;
}
.slide-sec .next-btn{
    position: absolute;
    background-color: #12121200;
    color: #000000;
    font-size: 50px;
    border: none;
    right: 0;
}
.slider hr{
    border: solid 1px white;
    opacity: 1;
}